.item img{
    width:100%;
    height:670px;
    background-size: 100% 100%;
}
.one{
    width:45%;
    height:300px;
    color:sandybrown;
    position: absolute;;
    top:400px;
    left:770px;
    transform: translate(-50% ,-50%);
    letter-spacing: 6px;
    font-size:100px;
    text-shadow: 2px 1px 5px black;
    z-index:5;
    text-align: center;
    border-top-left-radius:70px;
    border-bottom-right-radius:70px;
    background-color: rgba(0,0,0,0.3);
    padding:10px 0;
    font-weight: bold;
    border:10px in;
}
.one p{
    font-size:25px;
    padding-top:30px;
    color:lightblue;
}
.but{
    width:200px;
    height:50px;
    background-color: lightgreen;
    color:white;
    position:absolute;
    top:565px;
    left:650px;
    border-radius:20px;
    text-align: center;
    list-style: none;
    padding-top:14px;
    padding-right:11px;
    font-size: medium;
    letter-spacing:1px;
    cursor: pointer; 
}
